@import "tailwindcss";

:root {
  --section-max-w: 30rem;
}

@theme static {
  --color-primary-900: #1c2a3b;
  --color-primary-500: #003f88;
  --color-primary-300: #CCDEF9;
  --color-primary-100: #f1f3fe;
  --color-secondary-100: #8d6788;
  --color-secondary-300: #8e9aef;
  --color-secondary-500: #815e86;
  --color-text: #1c1b20;
  --color-neutral: #d2d5e4;
  --color-success: #5ba86d;
  --color-warning: #f4a261;
  --color-error: #e63946;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: josefin-sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

/* Hide default radio & checkbox */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  margin: 0;
  border: none;
}

.radio-parent:focus-within,
.checkbox-parent:focus-within {
  outline: 1px solid;
}

.checkbox-parent {
  cursor: pointer;
}