@import "tailwindcss";

@theme {
  --color-beige-500: #F8E6DD;
  --color-deep-blue-500: #355070;
  --color-primary-500: var(--color-deep-blue-500)
}

body {
    margin: 0;
    font-family: josefin-sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    margin: 8px 0;
  }
